.wrapper {
  display: flex;
  justify-content: space-between;
}

.hand {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 40vw;
  border: 3px solid black;
}

.handCard {
  position: absolute;

  height: 50px;
  width: 50px;
  background-color: black;
}

.card {
  position: absolute;
  z-index: 2;
}

.button {
  height: 4vh;
}
