.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
}

.handWrapper,
.shuffleWrapper,
.buttonWrapper {
  flex: 1;
}

.shuffleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.handWrapper {
  position: relative;
  max-height: 33%;
}

.handFlip {
  position: absolute;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hand {
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
}

.card {
  position: absolute;
}

.button {
  height: auto;
}
