.wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#dot {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  top: 30vh;
  left: 30vw;
  background-color: black;
}

.dot {
  position: absolute;

  height: 333px;
  width: 234px;
}
